@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../../../node_modules/@blueprintjs/table/lib/css/table.css";
@import "../../../../../node_modules/@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "../../../../../node_modules/@blueprintjs/popover2/lib/css/blueprint-popover2.css";

body,
html,
#root {
  @apply w-full h-full;
}

body.bp4-dark {
  @apply bg-gray-800 text-gray-200;
}

.bp4-table-cell {
  .bp4-input {
    border: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }
}